body{
   background-color:goldenrod;
   background-image:url();
   color: white;
   
}
img{
    border-radius: 30%;
}
.logo{
    text-align: center;
    background-color:white;
}
.nome_empresa{
    text-align: left;
    background-color: gray;
    border: 15px solid gray;
   
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color:white;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.introducao{
    color: black;
    font-size: larger;
    text-align: center;
}
.imagem{
  text-align: center;
  border: 10px solid steelblue;
}