body{
   background-color:black;
   background-image:url();
   color: white;
   
}
img{
    border-radius: 30%;
}
.logo{
    text-align: center;
    background-color:white;
}
.nome_empresa{
    text-align: left;
   
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color:white;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}