form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 20px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}

label{
   
}

.enviar{
    text-align: left;
    
}

textarea{
    width: 400px;
    height: 200px;
    line-height: 20px;
    max-width: 400px;
}