.menu-opcoes ul{
  font-size: 15px;
}

.menu-opcoes a{
    color: crimson;
}

.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}
.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
}
.container{
 margin-left: auto;
 margin-right: auto;
}

.sacola{
  background: url(../e-commerce/sacola.png) no-repeat top right;
  font-size: 14px;
  padding-right: 35px;
  text-align: right;
  width: 140px;
  padding-top: 8px;

  position: absolute;
  top: 0;
  right: 0;
}

body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: black;
    }

header{
    position: relative;
}    
.container{
    margin: 0 auto;
    width: 940px;
}

.destaque h2{
    color: red;
}
