body{
    background-color:black;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
img{
    border-radius: 30%;
    text-align: center;
}

p{
    text-align: justify;
    color: white;
}

.sobre{
    text-align: center;
    background-color: rgb(205, 68, 50);
    border: 10px solid rgb(205, 81, 50);
}

.visao{
    text-align: center;
    background-color: rgb(205, 81, 50);
    border: 10px solid rgb(205, 73, 50);
}

.coracao{
    text-align: left;

}

.objetivo{
    color: white;
    text-align: center;
}

#texto{
    text-align: center;
}