*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.informacoes {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 20px;
   margin-left: 80px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
}

.informacoes .titulo{
  margin-right: 200px;

}

.canvas{
    margin-right: 70px;
    text-align: right;
}
.regras{
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    width: 50%;
}