body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://i2.wp.com/thumbs.gfycat.com/FoolhardyPhonyCygnet-small.gif?w=747&ssl=1");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }

  .animes{
     color: black;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: larger;
  }
.add{
  margin-bottom: 50px;
}

  #anime{
    padding: 10px;
  }

  #URL{
    padding: 10px;
  }


  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 250px;
  }
  